.inner{
    min-height: calc(100vh - 80px);
    width: 100%;
    background-color: rgb(23, 46, 39);
    display: flex;
    overflow-x: scroll;
}


.inner h1{
    text-align: center;
    line-height: 70px;
}

.inner .sideBar{
    width: 30%;
    height: 100vh;
}

.inner .blog{
    background-color: gray;
    position: relative;
    width: 70%;
    height: 100%;
}


.inner .blog .post{
    height: max-content;
    width: 70%;
    margin: auto;
    margin-bottom: 1rem;
    background-color: orange;
    border-radius: 8px;
    padding: 10px;
}

.inner .blog .post header{
    display: flex;
    padding: 5px;
    align-items: center;
}

.inner .blog .post header h2{
    line-height: 40px;
    margin-left: 1rem;
}

.inner .blog .post header img{
    height: 55px;
    width: 55px;
    border-radius: 50%;
    border: 3px solid #000;
    

}

.inner .blog .post .content{
    height: max-content;
    width: 100%;
    position: relative;
}

.inner .blog .post .content img{
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.inner .blog .post .content .slideLeft, .slideRight{
    position: absolute;
    top: 45%;
    border: 0.5px solid rgb(60, 59, 59);
    background-color: white;
    border-radius: 4px;
    padding: 2px;
   
}

.slideLeft{
    left: 1%;
}

.slideRight {
right: 1%;
}


.inner .blog .post footer{

}


.inner .blog .post footer .username{
    font-weight: 700;
    margin-right: 10px;
}


@media (max-width: 800px) {

    .inner .sideBar {


        width: 10%;
    }
    .inner .blog{
 
        width: 80%;
        margin: auto;
        display: block;
    }
   
}


@media (max-width: 500px) {
    .inner .blog{
        flex: 1;
        width: 100%;
        background-color: yellow;
        margin: auto;
        display: block;
    }

    .inner .blog .post{
        width: 90%;
    }

    .inner .sideBar {
        display: none ;
    }
}

