.search {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
}

.search .inner_container {
  width: 40vw;
  background-color: red;
  height: max-content;
  border-radius: 10px;
}

.search .header h1 {
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  padding: 20px 0 5px 0;
}

.search .checkers {
  display: block;
  margin: auto;
  height: max-content;
  width: 90%;
  padding: 20px 0;
}

.search select {
  display: block;
  height: 50px;
  width: 90%;
  text-align: center;
  font-size: 18px;
  background-color: skyblue;
  border-radius: 8px;
  border: none;
  margin: auto;
}

.search select:hover {
  cursor: pointer;
}

.search label {
  font-size: 18px;
  padding: 1rem;
  display: block;
  text-align: center;
}
.search .checkers button {
  height: 40px;
  width: 90%;
  border-radius: 10px;
  border: 0.5px solid black;
  background-color: rgb(71, 71, 143);
  margin: auto;
  display: block;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 17px;
}

.search .checkers .locButton {
  background-color: lightcoral;
}

.search .checkers button:hover {
  background-color: lightblue;
  color: darkblue;
}


@media (max-width: 800px) {
    .search .inner_container {
      width: 60vw;
    }
  }
  
  @media (max-width: 500px) {
    .search .inner_container {
      width: 80vw;
    }
  }